xml-relacion/Relación 4/libro.dtd

<!ELEMENT libro (titulo, contenido, copyright)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT contenido (capitulo|separacion)*>
<!ELEMENT capitulo (tema, seccion+)>
<!ATTLIST capitulo materia (XML|Java) "XML">
<!ELEMENT separacion EMPTY>
<!ELEMENT tema (#PCDATA)>
<!ELEMENT seccion (#PCDATA)>
<!ATTLIST seccion apartados CDATA #REQUIRED>
<!ATTLIST seccion dificil (si|no) "no">
<!ELEMENT copyright (#PCDATA)>